@CHARSET "UTF-8";
.main .row{
	width: 1200px !important;
}

.prom-night input.btn-cta[type="submit"], .prom-night input.btn-cta[type="button"], .prom-night input.btn-buy[type="submit"], .prom-night input.btn-buy[type="button"], .prom-night .btn-buy, .prom-night .btn-cta {
    background-image: linear-gradient(to bottom, #0e71b4 0px, #0e71b4 100%) !important;
}
.prom-night input.btn-cta[type="submit"]:hover, .prom-night input.btn-cta[type="button"]:hover, 
.prom-night input.btn-buy[type="submit"]:hover, .prom-night input.btn-buy[type="button"]:hover,
.prom-night .btn-buy:hover, .prom-night .btn-cta:hover {
	background-color: #0e71b4 !important;
    background-image: linear-gradient(to bottom, #0e71b4 0px, #0e71b4 100%) !important;
}
.deal-price{
	color: #0e71b4 !important;
}
.productbox {
    overflow: hidden;
}
.product-list-heading{
	font-size: 24px;
	color: #333;
}
.home-top-Block {
    border-bottom: 3px solid #0e71b4;
    height: 36px;
    width: 100%;
    margin-top: 5px;
}
.home-Title {
    background: none repeat scroll 0 0 #0e71b4;
    border-top-right-radius: 15px;
    float: left;
    font-weight: 400;
    padding-right: 15px;
    padding-top: 2px;
}
.home-Title a {
    color: #fff;
    float: left;
    font-size: 16px;
    text-decoration: none;
}
.home-Title a h3, .home-Title h1, .home-Title h3 {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    margin: 5px 0 6px;
    padding: 0;
}
.left_block .left_block_title {
	margin-right: 18px;
	line-height: 30px;
	height: 31px;
}
.left_block .left_block_title, .right_block .right_block_title {
	border-bottom: 1px solid #ccc;
	position: relative;
}
.left_block_title span {
	color: #333;
    font-size: 24px;
	/* line-height: 32px; */
}
.left_block_title span, .right_block_title span, .right_block_title a {
	display: inline-block;
	margin-top: -1px;
	border-bottom: 2px solid #333;
}
.productbox .productlist {
    border-left: 1px solid #e2e2e2;
    margin: 0 0 0 5px;
}
.clearfix.list-product-hot{
	margin-left: -20px;
}
.product {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e2e2e2;
    float: left;
    height: 290px;
    position: relative;
    width: 182px;
    margin-right: 9px;
    margin-bottom: 9px;
}
.product:hover{
	background: none repeat scroll 0 0 #0e71b4;
	color: #FFF;
}
.product .wrap {
    height: 288px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.product .image {
    height: 155px;
    margin-top: 30px;
    text-align: center;
}
figure {
    margin: 0;
}
.product .image img {
    height: 155px;
    position: relative;
}
.product .info {
    border-top: 0 none;
}
.product .info {
    top: 200px;
}
.product .info {
    background: none repeat scroll 0 0 #fff;
    height: 288px;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: top 0.5s ease 0s;
    width: 100%;
    z-index: 2;
}
.product .info .topinfo {
    display: table-cell;
    height: 90px;
    vertical-align: bottom;
    width: 170px;
}
.product .namewrap {
    margin: 5px 5px 0px 15px;
    min-height: 34px;
    position: relative;
    text-overflow: ellipsis;
    width: 86%;
}
.product .namewrap .name {
    overflow: hidden;
    padding-bottom: 3px;
    text-overflow: ellipsis;
}
.product .name {
    bottom: 0 !important;
    margin: 0 !important;
    position: absolute;
}
.product .name {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    line-height: 16px;
    margin: 10px 5px 5px 15px;
    max-height: 32px;
}
.price_disc {
    color: #9ea09d;
    font-size: 12px;
    margin-left: 15px;
    text-decoration: line-through;
}
.product .price_pro {
    color: #d41212;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    margin: 0 15px 12px;
}
.product .price .symbol {
    color: #7f7f7f;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
}
.product_gtt {
    background: url("../img/bg-gtt.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px !important;
    padding: 0 5px 0 10px;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    top: 32px;
    width: auto;
}
.product_gtt_gia {
    line-height: 30px;
}
.description {
    line-height: 16px;
    top: 130px;
}
.product .description {
    font-size: 12px;
    margin: 0 15px;
}
.promotion-des {
    background: none repeat scroll 0 0 #d41212;
    color: #fff !important;
    margin: 2px -15px 0;
    overflow: hidden;
    padding: 5px;
}
/**********************Detail Product****************/
.grid_9 {
    width: 35%;
    float: left;
}
.grid_15 {
    width: 65%;
    float: left;
}
.item_right {
    background: none repeat scroll 0 0 #f8f8f8;
    box-shadow: 6px 0 6px -4px #dadada inset;
    transition: all 300ms ease 100ms;
}
.item_detail_title {
    height: auto;
    margin-bottom: 8px;
    width: auto;
}
.item_detail_title a h1, .item_detail_title h1 {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.item_detail_info {
    min-height: 300px;
}
.item_sku {
    margin-bottom: 10px;
}
.lsColor {
    margin: 5px 0;
    width: 100%;
}
.item_detail_summary {
    clear: both;
    display: block;
    margin-top: 5px;
    width: 100%;
}
.item_detail_price {
    height: auto;
    margin: 0;
    padding: 0;
}
.item_detail_accessory dt, .item_detail_price dt {
    clear: left;
    color: #000;
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    text-align: right;
    text-decoration: none;
    width: 150px;
}
.item_detail_accessory dd, .item_detail_accessory dt, .item_detail_price dd, .item_detail_price dt {
    font-style: normal;
    line-height: 16px;
    margin: 4px 0;
    min-height: 15px;
}
.item_detail_price dt.price_final {
    font-weight: 700;
    line-height: 24px;
}
.supPrice {
    color: #c00;
    font-family: verdana;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.1;
}
.itemAction {
    border: 0 none;
}
.detail_summary ul, .item_detail_summary ul {
    display: block;
    list-style: none outside none;
}
.itemAction ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.detail_summary li, .item_detail_summary ul li {
    clear: both;
    display: block;
}
.itemAction ul li {
    display: block;
    margin-bottom: 10px;
}
.area_tutorial {
    position: relative;
}
.btnT-large {
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    max-height: 48px;
    width: 300px;
}
.btnT {
    background-clip: padding-box;
    background-color: #bdbdbd;
    background-image: none;
    border: medium none;
    border-radius: 2px;
    box-shadow: 0 -2px 0 rgba(71, 73, 72, 0.05) inset;
    color: #fff;
    font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    word-spacing: 1px;
}
.btnT-large span {
    display: block;
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
    padding: 0;
    text-transform: none;
}
.btnT-peterriver {
    background-color: #3498db;
}
.btnT-nephritis {
    background-color: #27ae60;
}
.link_tutorial {
    color: #333;
    font-size: 12px;
    margin: 10px 0 0 2px;
    padding: 0 0 0 50px;
    position: absolute;
}
.ico_tutorial {
    background: url("/img/ico_tutorial.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 29px;
    left: 0;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    width: 52px;
}
.detail_other {
    margin: 0;
    width: inherit;
}
.item_detail_accessory {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.item_detail_accessory dt {
    font-weight: 700;
}
.item_detail_accessory dd, .item_detail_price dd {
    display: block;
    float: left;
    width: 415px;
}
.greenBack, .itemOnlyOnline {
    background: none repeat scroll 0 0 #2ecc71;
}
.blueBack, .greenBack, .greyBack, .redBack, .violetBack {
    color: #fafafa;
    padding: 4px 6px;
}
.item_detail_accessory dt {
    font-weight: 700;
}